---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: sc4-snmp-scheduler
  labels:
    app: sc4-snmp-scheduler
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sc4-snmp-scheduler
  template:
    metadata:
      labels:
        app: sc4-snmp-scheduler
    spec:
      containers:
        - name: sc4-snmp-scheduler
          image: ghcr.io/splunk/splunk-connect-for-snmp-poller:10b7eb8d0c3dc3be6b6d9506ebf789bec6c94589
          args: ["--log=DEBUG", "--config=/work/config/config.yaml", "--inventory=/work/config/inventory.csv"]
          env:
            - name: CELERY_BROKER_URL
              value: amqp://guest@$(RABBITMQ_SERVICE_SERVICE_HOST):$(RABBITMQ_SERVICE_SERVICE_PORT)//
            - name: POLLER_EXECUTION_MODE
              value: scheduler
          volumeMounts:
            - name: config
              mountPath: "/work/config"
              readOnly: true
      imagePullSecrets:
        - name: regcred
      volumes:
        # You set volumes at the Pod level, then mount them into containers inside that Pod
        - name: config
          configMap:
            # Provide the name of the ConfigMap you want to mount.
            name: sc4snmp-scheduler
            # An array of keys from the ConfigMap to create as files
            items:
              - key: "config.yaml"
                path: "config.yaml"
              - key: "inventory.csv"
                path: "inventory.csv"





