apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "splunk-connect-for-snmp.name" . }}-inventory
  labels:
    {{- include "splunk-connect-for-snmp.scheduler.labels" . | nindent 4 }}
data:
{{- with .Values.scheduler.inventory}}
  inventory.csv: |-
{{ . | indent 4}}
{{- end }}
