site_name: Splunk Connect for SNMP (SC4SNMP)

extra:
  version:
    provider: mike

markdown_extensions:
  - toc:
      permalink: True
  - smarty
  - fenced_code
  - sane_lists
  - codehilite

theme:
  name: "material"
  palette:
    primary: "black"
    accent: "orange"
  #favicon: "logo.png"
#  logo: "logo.png"

nav:
  - Home: "index.md"
  - Getting Started:
      - Splunk Requirements: "gettingstarted/splunk-requirements.md"
      - Platform Microk8s: "gettingstarted/mk8s/k8s-microk8s.md"
      - Install Splunk for Kubernetes: "gettingstarted/sck-installation.md"
      - Install SC4SNMP: "gettingstarted/sc4snmp-installation.md"
  - High Availability: ha.md  
  - Configuration:
      - Deployment: "configuration/deployment-configuration.md"
      - Poller: "configuration/poller-configuration.md"
      - Trap: "configuration/trap-configuration.md"
      - Scheduler: "configuration/scheduler-configuration.md"
      - Worker: "configuration/worker-configuration.md"
      - Mongo DB: "configuration/mongo-configuration.md"
      - RabbitMQ: "configuration/rabbitmq-configuration.md"
      - SNMPv3 configuration: "configuration/snmpv3-configuration.md"
  - Planning: "planning.md"
  - Security: "security.md"
  - Releases: "releases.md"
  - How to: "bestpractices.md"
