---
site_name: Splunk Connect for SNMP (SC4SNMP)

extra:
  version:
    provider: mike

markdown_extensions:
  - toc:
      permalink: true
  - smarty
  - fenced_code
  - sane_lists
  - codehilite
  - attr_list
  - md_in_html
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.blocks.tab:
      alternate_style: true

plugins:
  - search:
      lang: en
  - mkdocs-video:
      is_video: true

extra_javascript:
  - javascripts/footer.js

copyright: <p>Webpages built on GitHub Pages | <a href="https://docs.github.com/en/site-policy/github-terms/github-terms-of-service">Github Terms</a> | <a href="https://docs.github.com/en/site-policy/privacy-policies/github-privacy-statement">GitHub Privacy</a></p>

theme:
  name: "material"
  palette:
    primary: "black"
    accent: "orange"
#  favicon: "logo.png"
#  logo: "logo.png"

nav:
  - Home: "index.md"
  - Architecture:
      - High-level design: "architecture/design.md"
      - Infrastructure Planning: "architecture/planning.md"
  - Getting Started with Docker Compose:
      - Install Docker: "dockercompose/1-install-docker.md"
      - Download package: "dockercompose/2-download-package.md"
      - Inventory configuration: "dockercompose/3-inventory-configuration.md"
      - Scheduler configuration: "dockercompose/4-scheduler-configuration.md"
      - Traps configuration: "dockercompose/5-traps-configuration.md"
      - .env file configuration: "dockercompose/6-env-file-configuration.md"
      - SNMPv3 secrets configuration: "dockercompose/7-snmpv3-secrets.md"
      - Offline installation: "dockercompose/8-offline-installation.md"
      - Sending logs to Splunk: "dockercompose/9-splunk-logging.md"
      - Enable IPv6: "dockercompose/10-enable-ipv6.md"
  - Getting Started with Microk8s:
      - Installation:
        - Splunk Requirements: "microk8s/splunk-requirements.md"
        - Platform Microk8s: "microk8s/mk8s/k8s-microk8s.md"
        - Install Splunk OpenTelemetry Collector for Kubernetes: "microk8s/sck-installation.md"
        - Install SC4SNMP: "microk8s/sc4snmp-installation.md"
        - Enable IPv6: "microk8s/enable-ipv6.md"
        - Scaling with Microk8s: "microk8s/mk8s/k8s-microk8s-scaling.md"
      - Configuration:
          - Deployment: "microk8s/configuration/deployment-configuration.md"
          - Configurable values: "microk8s/configuration/values-params-description.md"
          - Polling:
              - Poller: "microk8s/configuration/poller-configuration.md"
              - Scheduler: "microk8s/configuration/scheduler-configuration.md"
              - Configuring Profiles: "microk8s/configuration/configuring-profiles.md"
              - Configuring Groups: "microk8s/configuration/configuring-groups.md"
              - Step by Step polling example: "microk8s/configuration/step-by-step-poll.md"
              - SNMP data format: "microk8s/configuration/snmp-data-format.md"
          - Traps: "microk8s/configuration/trap-configuration.md"
          - Worker: "microk8s/configuration/worker-configuration.md"
          - MongoDB: "microk8s/configuration/mongo-configuration.md"
          - Redis: "microk8s/configuration/redis-configuration.md"
          - SNMPv3 configuration: "microk8s/configuration/snmpv3-configuration.md"
          - Splunk Infrastructure Monitoring: "microk8s/configuration/sim-configuration.md"
          - CoreDNS: "microk8s/configuration/coredns-configuration.md"
      - Offline Installation:
          - Install Microk8s: "microk8s/offlineinstallation/offline-microk8s.md"
          - Install Splunk OpenTelemetry Collector for Kubernetes: "microk8s/offlineinstallation/offline-sck.md"
          - Install SC4SNMP: "microk8s/offlineinstallation/offline-sc4snmp.md"
      - GUI:
          - Enable GUI: "microk8s/gui/enable-gui.md"
          - Configuring Profiles: "microk8s/gui/profiles-gui.md"
          - Configuring Groups: "microk8s/gui/groups-gui.md"
          - Configuring Inventory: "microk8s/gui/inventory-gui.md"
          - Apply changes: "microk8s/gui/apply-changes.md"
      - Upgrade SC4SNMP: "microk8s/upgrade.md"
  - High Availability: "ha.md"
  - Improved polling performance: "improved-polling.md"
  - Lightweight installation: "small-environment.md"
  - Splunk dashboards: "dashboard.md"
  - Releases: "releases.md"
  - Request MIB: "mib-request.md"
  - Security: "security.md"
  - mTLS: "mtls.md"
  - Troubleshooting:
      - Accessing and configuring logs: "troubleshooting/configuring-logs.md"
      - Docker commands: "troubleshooting/docker-commands.md"
      - Kubernetes commands: "troubleshooting/k8s-commands.md"
      - General issues: "troubleshooting/general-issues.md"
      - Polling issues: "troubleshooting/polling-issues.md"
      - Traps issues: "troubleshooting/traps-issues.md"





