apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "splunk-connect-for-snmp.scheduler.fullname" . }}
  labels:
    {{- include "splunk-connect-for-snmp.scheduler.labels" . | nindent 4 }}
spec:
  {{- if not .Values.scheduler.autoscaling.enabled }}
  replicas: {{ .Values.scheduler.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "splunk-connect-for-snmp.scheduler.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.scheduler.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "splunk-connect-for-snmp.scheduler.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "splunk-connect-for-snmp.scheduler.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.scheduler.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}-scheduler
          securityContext:
            {{- toYaml .Values.scheduler.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          args:
            [
              "celery", "beat",
            ]          
          env:
            - name: CONFIG_PATH
              value: /app/config/config.yaml
            - name: CELERY_BROKER_URL
              value: {{ include "splunk-connect-for-snmp.celery_url" . }}
            - name: MONGO_URI
              value: {{ include "splunk-connect-for-snmp.mongo_uri" . }}
            - name: MIB_SOURCES
              value: "http://{{ printf "%s-%s" .Release.Name "mibserver" }}/asn1/@mib@"
            - name: MIB_INDEX
              value: "http://{{ printf "%s-%s" .Release.Name "mibserver" }}/index.csv"
            - name: LOG_LEVEL
              value: {{ .Values.scheduler.logLevel | default "INFO" }}
            - name: INVENTORY_REFRESH_RATE
              value: {{ .Values.scheduler.inventory_refresh_rate | default "600" | quote }}
            {{- if .Values.splunk.protocol }}
            - name: SPLUNK_HEC_SCHEME
              value: {{ .Values.splunk.protocol | default "https" | quote }}
            {{- end}}              
            - name: SPLUNK_HEC_HOST
              value: {{ .Values.splunk.host | quote }}
            {{- if .Values.splunk.port }}
            - name: SPLUNK_HEC_PORT
              value: {{ .Values.splunk.port | default "" | quote }}
            {{- end}}
            {{- if .Values.splunk.path }}
            - name: SPLUNK_HEC_PATH
              value: {{ .Values.splunk.path | default "/services/collector" | quote }}
            {{- end}}
            - name: SPLUNK_HEC_INSECURESSL
              value: {{ .Values.splunk.insecureSSL | default "false" | quote }}
            - name: SPLUNK_HEC_TOKEN
              valueFrom:
                  secretKeyRef:
                    name: {{ include "splunk-connect-for-snmp.name" . }}-splunk
                    key: hec_token              
          volumeMounts:
            - name: config
              mountPath: "/app/config"
              readOnly: true
            - name: pysnmp-cache-volume
              mountPath: "/.pysnmp/"
              readOnly: false            
            - name: tmp
              mountPath: "/tmp/"
              readOnly: false   
            {{- if .Values.poller.usernameSecrets }}                 
            - name: snmpv3-secrets
              mountPath: "/app/secrets/snmpv3"
              readOnly: true
            {{- end }}
          resources:
            {{- toYaml .Values.scheduler.resources | nindent 12 }}
      {{- with .Values.scheduler.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if eq .Values.scheduler.podAntiAffinity "hard" }}
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - topologyKey: "kubernetes.io/hostname"
              labelSelector:
                matchLabels:
                    {{- include "splunk-connect-for-snmp.scheduler.selectorLabels" . | nindent 22 }}
      {{- else if eq .Values.scheduler.podAntiAffinity "soft" }}
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 1
              podAffinityTerm:
                topologyKey: kubernetes.io/hostname
                labelSelector:
                  matchLabels:
                    {{- include "splunk-connect-for-snmp.scheduler.selectorLabels" . | nindent 22 }}
      {{- end }}
      {{- with .Values.scheduler.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
        # You set volumes at the Pod level, then mount them into containers inside that Pod
        - name: config
          configMap:
            # Provide the name of the ConfigMap you want to mount.
            name: {{ include "splunk-connect-for-snmp.name" . }}-config
            # An array of keys from the ConfigMap to create as files
            items:
              - key: "config.yaml"
                path: "config.yaml"
        {{- if .Values.poller.usernameSecrets }}
        - name: snmpv3-secrets
          projected:
            sources:
            {{- range .Values.poller.usernameSecrets }}
            {{- $secret := (lookup "v1" "Secret" $.Release.Namespace . ) -}}            
            {{- if $secret }}
            - secret:
                name: {{ . }}
                items:
                  {{ if $secret.data.userName -}}
                  - key: userName
                    path: {{ . }}/userName                
                  {{- end }} 
                  {{ if $secret.data.authKey -}}
                  - key: authKey
                    path: {{ . }}/authKey
                  {{- end }} 
                  {{ if $secret.data.privKey -}}
                  - key: privKey
                    path: {{ . }}/privKey
                  {{- end }} 
                  {{ if $secret.data.authProtocol -}}
                  - key: authProtocol
                    path: {{ . }}/authProtocol
                  {{- end }} 
                  {{ if $secret.data.privProtocol -}}
                  - key: privProtocol
                    path: {{ . }}/privProtocol
                  {{- end }} 
                  {{ if $secret.data.contextEngineId -}}
                  - key: contextEngineId
                    path: {{ . }}/contextEngineId
                  {{- end }} 
                  {{ if $secret.data.contextName -}}
                  - key: contextName
                    path: {{ . }}/contextName
                  {{- end }} 
            {{- end }}                    
            {{- end }}
        {{- end }}     
        - name: pysnmp-cache-volume
          emptyDir: {}    
        - name: tmp
          emptyDir: {}                        