apiVersion: apps/v1
kind: Deployment
metadata:
  name: sc4snmp-scheduler
  namespace: {{ .Release.Namespace | quote }}
  labels:
    app: sc4snmp-scheduler
spec:
  replicas: {{ .Values.scheduler.replicas }}
  selector:
    matchLabels:
      app: sc4snmp-scheduler
  template:
    metadata:
      labels:
        app: sc4snmp-scheduler
    spec:
      containers:
        - name: sc4snmp-scheduler
          image: {{ .Values.worker.image | default "ghcr.io/splunk/splunk-connect-for-snmp-poller/container" }}:{{ .Values.worker.tag | default "1" }}
          imagePullPolicy: {{ .Values.worker.pullPolicy | default "IfNotPresent" }}
          args:
            [
              "--log={{ .Values.scheduler.logLevel }}",
              "--config=/work/config/config.yaml",
              "--inventory=/work/inventory/inventory.csv",
              "--event_index={{ .Values.scheduler.index.event }}",
              "--metric_index={{ .Values.scheduler.index.metrics }}",
              "--meta_index={{ .Values.scheduler.index.meta }}",
              "--refresh_interval={{ .Values.files.scheduler.args.refresh_interval }}",
              "--realtime_task_frequency={{ .Values.files.scheduler.args.realtime_task_frequency }}",
              "--matching_task_frequency={{ .Values.files.scheduler.args.matching_task_frequency }}",
              "--onetime_task_frequency={{ .Values.files.scheduler.args.onetime_task_frequency }}",
            ]
          env:
            - name: MONGO_SERVICE_SERVICE_HOST
              value: sc4snmp-mongodb
            - name: MONGO_SERVICE_SERVICE_PORT
              value: "27017"
            - name: MIBS_SERVER_URL
              value: {{ printf "http://sc4snmp-mib-server-service:%s" ( "5000" | default .Values.mib.service_port ) | quote }}
            - name: CELERY_BROKER_URL
              value: amqp://sc4snmp:sc4snmp@sc4snmp-rabbitmq:5672/
            - name: POLLER_EXECUTION_MODE
              value: scheduler
          volumeMounts:
            - name: config
              mountPath: "/work/config"
              readOnly: true
            - name: inventory
              mountPath: "/work/inventory"
              readOnly: false
          resources:
{{ ( toYaml .Values.mib.resources | default
limits:
  cpu: 1000m
  memory: 2Gi
requests:
  cpu: 1000m
  memory: 2Gi  | indent 12 }}
      volumes:
        # You set volumes at the Pod level, then mount them into containers inside that Pod
        - name: config
          configMap:
            # Provide the name of the ConfigMap you want to mount.
            name: sc4snmp-config
            # An array of keys from the ConfigMap to create as files
            items:
              - key: "config.yaml"
                path: "config.yaml"
        - name: inventory
          configMap:
            # Provide the name of the ConfigMap you want to mount.
            name: sc4snmp-inventory
            # An array of keys from the ConfigMap to create as files
            items:
              - key: "inventory.csv"
                path: "inventory.csv"
