{{- if and .Values.auth.enabled (not .Values.auth.existingSecret) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-mongodb
  labels:
    app: {{ .Release.Name }}-mongodb
type: Opaque
data:
  root-password: {{ .Values.auth.rootPassword | default (randAlphaNum 16) | b64enc | quote }}
  password: {{ .Values.auth.password | default (randAlphaNum 16) | b64enc | quote }}
  {{- if eq .Values.mode "replicaset" }}
  replica-key: {{ randAlphaNum 32 | b64enc | quote }}
  {{- end }}
{{- end }}