{{- if and .Values.mongodb.auth.enabled (eq .Values.mongodb.mode "standalone") }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-mongodb-init
  labels:
    app: {{ .Release.Name }}-mongodb
data:
  init-user.js: |
    db = db.getSiblingDB('{{ .Values.mongodb.auth.database }}');
    db.createUser({
      user: '{{ .Values.mongodb.auth.username }}',
      pwd: process.env.MONGODB_USER_PASSWORD || '{{ .Values.mongodb.auth.password }}',
      roles: [
        { role: 'readWrite', db: '{{ .Values.mongodb.auth.database }}' }
      ]
    });
{{- end }}