{{- if not .Values.mongodb.auth.existingSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-mongodb-auth
  labels:
    app: {{ .Release.Name }}-mongodb
type: Opaque
data:
  root-user: {{ .Values.mongodb.auth.rootUser | default "root" | b64enc | quote }}
  root-password: {{ .Values.mongodb.auth.rootPassword | b64enc | quote }}
  {{- if eq .Values.mongodb.mode "replicaset" }}
  replica-key: {{ .Values.mongodb.auth.replicaKey | b64enc | quote }}
  {{- end }}
{{- end }}