{{- if and .Values.mongodb.auth.enabled (not .Values.mongodb.auth.existingSecret) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-mongodb
  labels:
    app: {{ .Release.Name }}-mongodb
type: Opaque
data:
  password: {{ .Values.mongodb.auth.password | default (randAlphaNum 16) | b64enc | quote }}
  {{- if eq .Values.mongodb.mode "replicaset" }}
  replica-key: {{ randAlphaNum 32 | b64enc | quote }}
  {{- end }}
{{- end }}