apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-mongodb
  labels:
    app: {{ .Release.Name }}-mongodb
spec:
  type: ClusterIP
  clusterIP: None
  ports:
  - port: 27017
    name: mongodb
  selector:
    app: {{ .Release.Name }}-mongodb