apiVersion: v1
kind: ConfigMap
metadata:
  name: sc4snmp-config
  namespace: {{ .Release.Namespace | quote }}
data:
  config.yaml: |-
    celery:
      broker:
        type: "rabbitmq"
    # Sample Configuration file
    ipv4: True
    ipv6: False
    enricher:
      oidFamily:
        IF-MIB:
          existingVarBinds:
          - id: "ifSpeed"
            name: "Speed"
            ttl: 20
          - id: "ifDescr"
            name: 'ifDescr'
            ttl: 15
          - id: "ifType"
            name: "Type"
            ttl: 30
          - id: "ifMtu"
            name: 'MTU'
            ttl: 55
          - id: "ifAdminStatus"
            name: "AdminStatus"
            ttl: 40
          - id: "ifOperStatus"
            name: 'OperationalStatus'
            ttl: 65
          additionalVarBinds:
            - indexNum: 'index_number'
    mongo:
      database: "snmp_poller"
      walked_collection: "walked_hosts"
      unwalked_collection: "unwalked_hosts"
{{- if (.Values.files.scheduler.config).usernames }}
    usernames:
{{ .Values.files.scheduler.config.usernames | indent 6 -}}
{{ end }}
{{- if (.Values.files.scheduler.config).profiles }}
    profiles:
{{ .Values.files.scheduler.config.profiles | indent 6 -}}
{{ end }}
{{- if (.Values.files.scheduler.config).communities }}
    communities:
{{ .Values.files.scheduler.config.communities | indent 6 }}
{{ else }}
    communities:
      public:
        communityIndex:
        contextEngineId:
        contextName:
        tag:
        securityName:
{{- end -}}
{{- if (.Values.files.scheduler.config).additionalMetricField }}
    additionalMetricField:
{{ .Values.files.scheduler.config.additionalMetricField | indent 6 }}
{{- end -}}