{{- if eq (include "splunk-connect-for-snmp.traps.enable" .) "true" }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "splunk-connect-for-snmp.traps.fullname" . }}
  labels:
    {{- include "splunk-connect-for-snmp.traps.labels" . | nindent 4 }}
spec:
  {{- if not .Values.traps.autoscaling.enabled }}
  replicas: {{ .Values.traps.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "splunk-connect-for-snmp.traps.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.traps.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "splunk-connect-for-snmp.traps.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "splunk-connect-for-snmp.serviceAccountName" . }}
      securityContext:
        fsGroup: 10001
      containers:
        - name: {{ .Chart.Name }}-traps
          securityContext:
            capabilities:
              drop:
                - ALL
            readOnlyRootFilesystem: true
            runAsNonRoot: true
            runAsUser: 10001
            runAsGroup: 10001
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          args:
            [
              "trap"
            ] 
          env:
            - name: CONFIG_PATH
              value: /app/config/config.yaml
            - name: CELERY_BROKER_URL
              value: {{ include "splunk-connect-for-snmp.celery_url" . }}
            - name: MONGO_URI
              value: {{ include "splunk-connect-for-snmp.mongo_uri" . }}
            - name: MIB_SOURCES
              value: "http://{{ printf "%s-%s" .Release.Name "mibserver" }}/asn1/@mib@"
            - name: MIB_INDEX
              value: "http://{{ printf "%s-%s" .Release.Name "mibserver" }}/index.csv"
            - name: MIB_STANDARD
              value: "http://{{ printf "%s-%s" .Release.Name "mibserver" }}/standard.txt"
            - name: LOG_LEVEL
              value: {{ .Values.traps.logLevel | default "INFO" }}
{{- if .Values.splunk.protocol }}
            - name: SPLUNK_HEC_SCHEME
              value: {{ .Values.splunk.protocol | default "https" | quote }}
            {{- end}}
            - name: SPLUNK_HEC_HOST
              value: {{ .Values.splunk.host | quote }}
            {{- if .Values.splunk.port }}
            - name: SPLUNK_HEC_PORT
              value: {{ .Values.splunk.port | default "" | quote }}
            {{- end}}
            {{- if .Values.splunk.path }}
            - name: SPLUNK_HEC_PATH
              value: {{ .Values.splunk.path | default "/services/collector" | quote }}
            {{- end}}
            - name: SPLUNK_HEC_INSECURESSL
              value: {{ .Values.splunk.insecureSSL | default "false" | quote }}
            - name: SNMP_V3_SECURITY_ENGINE_ID
              value: {{ join "," .Values.traps.securityEngineId }}
            - name: SPLUNK_HEC_TOKEN
              valueFrom:
                  secretKeyRef:
                    name: {{ include "splunk-connect-for-snmp.name" . }}-splunk
                    key: hec_token
          ports:
            - name: snmp-udp
              containerPort: 2162
              protocol: UDP
          volumeMounts:
            - name: config
              mountPath: "/app/config"
              readOnly: true
            - name: pysnmp-cache-volume
              mountPath: "/.pysnmp/"
              readOnly: false                
            - name: tmp
              mountPath: "/tmp/"
              readOnly: false                    
            {{- range .Values.traps.usernameSecrets }}
            - name: {{ . }}
              mountPath: "/app/secrets/snmpv3/{{ . }}"
              subPath: {{ . }}
              readOnly: true
            {{- end }}                    

          resources:
            {{- toYaml .Values.traps.resources | nindent 12 }}
      {{- with .Values.traps.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if eq .Values.traps.podAntiAffinity "hard" }}
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - topologyKey: "kubernetes.io/hostname"
              labelSelector:
                matchLabels:
                    {{- include "splunk-connect-for-snmp.traps.selectorLabels" . | nindent 22 }}
      {{- else if eq .Values.traps.podAntiAffinity "soft" }}
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 1
              podAffinityTerm:
                topologyKey: kubernetes.io/hostname
                labelSelector:
                  matchLabels:
                    {{- include "splunk-connect-for-snmp.traps.selectorLabels" . | nindent 22 }}
      {{- end }}
      {{- with .Values.traps.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
        # You set volumes at the Pod level, then mount them into containers inside that Pod
        - name: config
          configMap:
            # Provide the name of the ConfigMap you want to mount.
            name: {{ include "splunk-connect-for-snmp.name" . }}-traps
            # An array of keys from the ConfigMap to create as files
            items:
              - key: "config.yaml"
                path: "config.yaml"
        {{- range .Values.traps.usernameSecrets }}
        - name: {{ . }}
          secret:
            secretName: {{ . }}
            optional: true
            items:
              - key: userName
                path: {{ . }}/userName
              - key: authKey
                path: {{ . }}/authKey
              - key: privKey
                path: {{ . }}/privKey
              - key: authProtocol
                path: {{ . }}/authProtocol
              - key: privProtocol
                path: {{ . }}/privProtocol
              - key: contextEngineId
                path: {{ . }}/contextEngineId
              - key: contextName
                path: {{ . }}/contextName
        {{- end }}
        - name: pysnmp-cache-volume
          emptyDir: {}    
        - name: tmp
          emptyDir: {}
{{- end -}}