#global settings
global:
  logLevel: warn 
  splunk:
    hec:
      protocol: ##PROTO##
      insecureSSL: ##INSECURE_SSL##
      host: "##HOST##"
      token: "##TOKEN##"
      port: ##PORT##


#local config for logging chart
splunk-kubernetes-logging:
  # Enable chart
  enabled: true
  # Determine logging level per chart
  logLevel: info
  containers:
    logFormatType: cri
    logFormat: "%Y-%m-%dT%H:%M:%S.%N%:z"
  # Filter on Namespace to reduce log noise from all namespaces
  fluentd: 
    path: /var/log/containers/*_sc4snmp_*.log 
  kubernetes:
    clusterName: ##CLUSTER_NAME##
    securityContext: true
  # Set journald path. See sck configmap to set journald filters 
  journalLogPath: /var/log/journal
  # Review flush intervals for Splunk Cloud vs Self-Managed back off timers
  buffer:
    "@type": memory
    total_limit_size: 600m
    chunk_limit_size: 10m
    chunk_limit_records: 100000
    flush_interval: 5s
    flush_thread_count: 1
    overflow_action: block
    retry_max_times: 10
    retry_type: periodic
  k8sMetadata:
  # Pod labels to collect
    podLabels:
      - app
      - k8s-app
      - release
      - environment
      - tier
  # In case snmp prefix is useful or if you want to remove "kube"
  sourcetypePrefix: "kube"
  splunk:
    hec:
      indexName: ##EVENTS_INDEX##
  logs:
    sck:
      from:
        pod: sck-splunk-kubernetes-
        container: splunk-fluentd-k8s-
      multiline:
        firstline: /^\d{4}-\d{2}-\d{2}\s\d{2}\:\d{2}\:\d{2}\s\+\d{4}\s\[\w+\]\:/
        separator: "\n"
        flushInterval: 5
    
#local config for objects chart
splunk-kubernetes-objects:
  # enable or diable objects
  enabled: false
  rbac:
    create: true
  serviceAccount:
    create: true
    name: splunk-kubernetes-objects
  kubernetes:
    insecureSSL: true
    clusterName: ##CLUSTER_NAME##
  objects:
    core:
      v1: 
        - name: pods
        - name: namespaces
        - name: nodes
        - name: events
          mode: watch

  splunk:
    hec:
      indexName: ##META_INDEX##

#local config for metrics chart
splunk-kubernetes-metrics:
  # enable or disbale metrics
  enabled: false
  metricsInterval: 60s
  kubernetes:
    kubeletPort: 10255
    kubeletPortAggregator: 10250
    useRestClientSSL: false
    insecureSSL: true
    clusterName: ##CUSTER_NAME##
  rbac:
    create: true
  serviceAccount:
    create: true
    name: splunk-kubernetes-metrics
  splunk:
    hec:
      indexName: ##METRICS_INDEX##

#App for Infra Dimensions for K8s
  customFilters:
    node:
      tag: "kube.node.**"
      type: record_modifier
      body: |-
        <record>
          entity_type k8s_node
        </record>
    pod:
      tag: "kube.pod.**"
      type: record_modifier
      body: |-
        <record>
          entity_type k8s_pod
